<ModConfiguration>
<Id>ReikaKalseki.TDTweaks</Id>
<Name>TDTweaks</Name>
<Version>1</Version>
<IsLocalMod>false</IsLocalMod>
<IsServerOnlyMod>false</IsServerOnlyMod>
<Description>
	Adds the ability to configure variables related to the Tower Defence (TD) aspect of the game, including wave composition and size, threat thresholds, cooldowns, mob health, and turret targeting logic.
</Description>
</ModConfiguration>